<?xml version="1.0"?>
<!--
/**
 * @author    Aurélien Jourquin <aurelien@growzup.com>
 * @link      http://www.ajourquin.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="aj_customer_model_account_management" type="Ajourquin\DisableCustomer\Plugin\Model\Customer\AccountManagement" sortOrder="100" />
    </type>
</config>
